#email{
    padding: 50px;
    margin-top: 50px;
    width: 500px;
    background-color: antiquewhite;
    margin: auto;
    border: solid 2px black;
    box-sizing: border-box;
}

#confidential, #top-secret{
    display: inline-block;
    padding: auto;
    margin-left: 10px;
    border: red solid 4px;
    transform: rotate(24deg);
    color: red;
    padding: 4px;
    font-size: xx-large;
}

.blurred{
    filter: blur(3px);
}

