body{
    background-color: lightblue;
    text-align: center;
}
div{
    text-align: center;
}

.form-container{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    width: 50vw;
    margin: auto;
}

label{
    color: rgb(19, 18, 18);
    margin: 5px auto;
}
input, textarea{
    display: block;
    width: 100%;
    margin:  auto;
    padding: 10px;
}

button{
    background-color: lightgreen;
    font-size: 1.1rem;
}

button:hover{
    background-color: orange;
}