

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none; 
    border: 2px solid #f1be32;
    border-radius: 4px;
    background-color: white;
    transition: all 0.3s;
    vertical-align: middle;
    margin: 15px;
}

input[type="checkbox"]:checked{
    background-color: #f1be32;
    border-color: #e2a60d;
}

input[type="checkbox"]:checked::after{
    content: "✓";
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    line-height: 20px;
}